.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar1 {
  background: linear-gradient(90deg, black, teal);
  color: white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-logout {
  background-color: red;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dashboard-main {
  display: flex;
  height: 100%;
}

.rightnav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcomeLine{
    font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #fff;
  white-space: nowrap;
}

.sidebar {
  width: 220px;
  background-color: #2a2a2a;
  padding: 15px;
  height: 100%;
}

.sidebar .link{
    text-decoration: none;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.sidebar li:hover {
  background-color: #444;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color:darkslategray;
}

.btn-add {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 428px) {
  .navbar1 {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .rightnav {
    flex-direction: column;
    gap: 8px;
  }

  .welcomeLine {
    font-size: 14px;
    margin-right: 0;
  }

  .sidebar {
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  .sidebar ul {
    flex-direction: column;
    align-items: center;
  }

  .sidebar li {
    font-size: 12px;
    padding: 10px 0px;
  }

  .dashboard-content {
    padding: 10px;
  }

  .btn-add {
    font-size: 14px;
    padding: 8px;
    margin-top: 5px;
  }

  input {
    width: 100%;
    margin: 5px 0;
  }
}