.pass-reset {
    width: 60%;
    background-color: #141E30; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto;
}

.resetpass-head {
    font-size: 42px;
    color: #F4A261;
    font-weight: bolder;
}

.pass-reset h1 {
    font-size: 26px;
    color: #F4A261;
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
}

.pass-reset input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 3px solid #F4A261;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background-color: #1B2838;
}

.pass-reset input:focus {
  border-color: #E76F51;
  box-shadow: 0px 0px 8px rgba(228, 116, 81, 0.6);
}

.pass-reset button {
    width: 100%;
    background-color: #F4A261;
    color: #141E30;
    border: none;
    padding: 12px;
    font-size: 28px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.pass-reset button:hover {
    background-color:#E76F51;
}


@media (max-width: 768px) {
    .pass-reset {
        width: 80%;
        padding: 30px;
    }

    .resetpass-head {
        font-size: 32px;
    }

    .pass-reset h1 {
        font-size: 22px;
    }

    .pass-reset input {
        padding: 12px;
        font-size: 14px;
    }

    .pass-reset button {
        font-size: 22px;
        padding: 10px;
    }
}

/* Mobile View (425px and below) */
@media (max-width: 428px) {
    .pass-reset {
        width: 90%;
        padding: 20px;
    }

    .resetpass-head {
        font-size: 22px;
    }

    .pass-reset h1 {
        font-size: 18px;
    }

    .pass-reset input {
        padding: 10px;
        font-size: 12px;
    }

    .pass-reset button {
        font-size: 18px;
        padding: 8px;
    }
}