.statement-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.totalbalance {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: yellowgreen;
  margin-bottom: 15px;
  padding: 10px;
  background: #141E30;
  border-radius: 8px;
}

.statement-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 26px;
  font-weight: bold;
}

.statement-table thead {
  background: #141E30;
  color: #F4A261;
}

.statement-table th {
  padding: 12px;
  text-align: left;
}

.statement-table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background 0.3s;
}

.statement-table tbody tr:hover {
  background: #f1f1f1;
}

.statement-table td {
  padding: 12px;
  text-align: left;
}


@media screen and (max-width: 428px) {
  .statement-container {
    max-width: 100%;
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  }

  .totalbalance {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 8px;
    border-radius: 6px;
    text-align: start;

  }
 

 
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .statement-table {
    width: 100%;
    min-width: 600px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap; 
  }

  .statement-table thead {
    font-size: 13px;
  }

  .statement-table th,
  .statement-table td {
    padding: 6px;
    text-align: left;
  }

  .statement-table tbody tr {
    border-bottom: 1px solid #ccc;
  }

  .statement-table tbody tr:hover {
    background: #f9f9f9;
  }

  .dashboard-content{
    width: 80%;
  }
}